<div class="ons-field">
  <label
    class="ons-label ons-u-fw-n"
    for="{{ .ElementId }}"
  >
    {{- .Label.FuncLocalise .Language -}}
  </label>
  <span class="ons-grid--flex ons-u-flex-ai-fs ons-input_search-button">
    <input
      type="search"
      class="ons-input ons-input--block ons-input--text ons-input-type__input ons-search__input"
      value="{{ .SearchTerm }}"
      id="{{ .ElementId }}"
      name="{{ .InputName }}"
    >
    <button
      type="submit"
      class="ons-btn ons-search__btn ons-btn--small"
    >
      <span class="ons-btn__inner">
        {{ template "icons/search" }}
        <span class="ons-btn__text ons-u-vh@xxs@s">
          <span class="ons-u-vh">
            {{ localise "Search" .Language 1 }}
          </span>
        </span>
      </span>
    </button>
  </span>
</div>
