<div class="ons-field">
  <label
    class="ons-label ons-u-pb-xs ons-u-fw-n"
    for="{{ .ElementId }}"
  >
    {{- .Label.Localise .Language -}}
  </label>
  <div class="ons-compact-search">
    <input
      type="search"
      class="ons-compact-search__input"
      value="{{ .SearchTerm }}"
      id="{{ .ElementId }}"
      name="{{ .InputName }}"
    >
    <button
      type="submit"
      class="ons-btn ons-compact-search__btn"
    >
      <span class="visuallyhidden">
        {{ localise "Search" .Language 1 }}
      </span>
      {{ template "icons/search" . }}
    </button>
  </div>
</div>
