
<div class="wrapper link-adjust">
  <div class="improve-this-page" data-module="improve-this-page">
  {{/* Using "assertive" instead of "polite" due to a known and open issue with NVDA on Chrome, issue #8873
   https://github.com/nvaccess/nvda/issues/8873 and
   https://ux.stackexchange.com/questions/131889/accessible-way-of-notifying-a-screen-reader-about-loading-the-dynamic-web-page-u */}}
    <div
      class="improve-this-page__prompt clearfix"
      id="feedback-form-header"
      role="status"
      aria-live="assertive"
      tabindex="-1"
    >
      <div class="improve-this-page__prompt_left">
        <h3 class="improve-this-page__is-useful-question margin-right--1">
          {{- localise "Helpful" .Language 1 -}}
        </h3>
        <a
          id="feedback-form-yes"
          class="improve-this-page__page-is-useful-button"
          href="/feedback/thanks"
          aria-label="{{ localise "YesAria" .Language 1 }}"
        >
          {{- localise "Yes" .Language 1 -}}
        </a>
        <span>|</span>
        <a
          id="feedback-form-no"
          class="js-toggle"
          href="/feedback"
          aria-label="{{ localise "NoAria" .Language 1 }}"
        >
          {{- localise "No" .Language 1 -}}
        </a>
      </div>
      <div class="improve-this-page__prompt_right">
        <a
          id="feedback-form-anything-wrong"
          class="js-toggle improve-this-page__anything-wrong"
          href="/feedback"
        >
          {{- localise "CantFind" .Language 1 -}}
        </a>
      </div>
    </div>
    <div id="feedback-form" class="improve-this-page__form js-hidden font-size--18">
      <form id="feedback-form-container">
        {{ if and .Data.EnableFeedbackAPI .Data.FeedbackAPIURL}} 
        <input type="hidden" name="feedback-form-type" value="footer">
        <input type="hidden" name="url" id="feedback-api-enabled" value="true">
        <input type="hidden" name="url" id="feedback-api-url" value="{{.Data.FeedbackAPIURL}}">
        {{ else }}
        <input type="hidden" name="url" id="feedback-api-enabled" value="false">
        <input type="hidden" name="url" id="feedback-api-url" value="">
        {{ end }}
        <input type="hidden" name="feedback-form-type" value="footer">
        <input type="hidden" name="url" id="feedback-form-url" value="">
        <div class="form-group">
          <label class="form-label-bold" id="description-field-label" for="description-field">
            {{- localise "ImproveThisPage" .Language 1 -}}
          </label>
          <textarea id="description-field" class="form-control" name="description" rows="5"></textarea>
        </div>
        <div class="form-group">
          <p class="font-size--24 font-weight-700 margin-bottom--0">
            {{- localise "WantAReply" .Language 1 -}}
          </p>
          <p class="font-size--18 margin-top--0">
            {{- localise "WantAReplyBlurb" .Language 1 -}}
          </p>
          <label class="form-label-bold" for="name-field">
            {{- localise "NameOpt" .Language 1 -}}
          </label>
          <input id="name-field" class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
          <label class="form-label-bold" id="email-field-label" for="email-field">
            {{- localise "EmailOpt" .Language 1 -}}
          </label>
          <input id="email-field" class="form-control" type="text" name="email">
        </div>
        <div>
          <input
            id="feedback-form-submit"
            class="btn btn--primary font-weight-700 margin-bottom--2"
            type="submit"
            value="{{ localise "SendFeedback" .Language 1 }}"
          >
        </div>
        <div>
          <a
            href="javascript:void(0)"
            id="feedback-form-close"
            class="improve-this-page__close js-toggle btn btn--secondary font-weight-700"
          >
            {{- localise "CancelFeedback" .Language 1 -}}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
