{{/* See PATTERNS.md for usage instructions */}}

<aside class="ons-toc-container" role="complementary">
  <nav
    class="ons-toc"
    {{ if .TableOfContents.AriaLabel.LocaleKey }}
      aria-label="{{ localise .TableOfContents.AriaLabel.LocaleKey .Language .TableOfContents.AriaLabel.Plural }}"
    {{ else }}
      aria-label="{{ .TableOfContents.AriaLabel.Text }}"
    {{ end }}
  >
    <h2 class="ons-toc__title ons-u-fs-r--b ons-u-mb-s">
      {{ if .TableOfContents.Title.LocaleKey }}
        {{ localise .TableOfContents.Title.LocaleKey .Language .TableOfContents.Title.Plural }}
      {{ else }}
        {{ .TableOfContents.Title.Text }}
      {{ end }}
    </h2>
    <ol class="ons-list ons-u-mb-m ons-list--dashed">
      {{ $sections := .TableOfContents.Sections }}
      {{ range $id := .TableOfContents.DisplayOrder }}
        {{ $section := index $sections $id }}
       <li class="ons-list__item" {{ if $section.Current }} aria-current="true" {{ end }}>
          <a href="#{{ $id }}" class="ons-list__link">
            {{ if $section.Title.LocaleKey }}
              {{ localise $section.Title.LocaleKey $.Language $section.Title.Plural }}
            {{ else }}
              {{ $section.Title }}
            {{ end }}
          </a>
        <li>
      {{ end }}
    </ol>
  </nav>
</aside>
