<h2 class="footer-nav__heading">{{- localise "ConnectWithUs" .Language 1 -}}</h2>
<ul class="footer-nav__list">
    <li class="footer-nav__item">
        <a href="https://twitter.com/ONS" class="icon--hide" target="_blank">{{- localise "Twitter" .Language 1 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://www.instagram.com/officefornationalstatistics/" class="icon--hide" target="_blank">{{- localise "Instagram" .Language 1 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://www.facebook.com/ONS" class="icon--hide" target="_blank">{{- localise "Facebook" .Language 1 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://www.linkedin.com/company/office-for-national-statistics" class="icon--hide" target="_blank">{{- localise "LinkedIn" .Language 1 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://consultations.ons.gov.uk/" class="icon--hide" target="_blank">{{- localise "Consultations" .Language 4 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://www.statsusernetwork.ons.gov.uk/" class="icon--hide" target="_blank">{{- localise "DiscussionForums" .Language 4 -}}</a>
    </li>
    <li class="footer-nav__item">
        <a href="https://public.govdelivery.com/accounts/UKONS/subscribers/new" class="icon--hide" target="_blank">{{- localise "EmailAlerts" .Language 1 -}}</a>
    </li>
</ul>
