{{/* Used by dp-renderer/tagresolver */}}
{{ $containerType := "markdown-chart-container" }}
{{ if eq .ChartType "table" }}
  {{ $containerType = "markdown-table-container" }}
{{ end }}
<div class="{{ $containerType }} panel--bottom-mar print--avoid-break">
{{- if eq .ChartType "small-multiples" -}}
  <h3 class="flush--third--vertical font-size--18 margin-top--0 padding-top--0 margin-top--0 margin-bottom--1">{{ subscript (superscript .Title) }}</h3>
  {{ if .Subtitle }}
    <h4 class="flush--third--bottom font-size--16 margin-top--0 padding-top--0">{{ subscript (superscript .Subtitle) }}</h4>
  {{ end }}
  <div class="sm-multiple-holder">
  {{ range $index, $series := .Series }}
  <div class="sm-multiple">
    <div
      id="chart-{{ $.Filename }}-{{ $index }}"
      class="markdown-chart"
      data-filename="{{ $.Filename }}"
      data-uri="{{ $.URI }}"
      data-series="{{ $series }}"
    >
      <!--[if gt IE 8]><!--><noscript><!--[endif]-->
      <img src="https://dp.aws.onsdigital.uk/chartimage?uri={{ $.URI }}" alt="{{ $.AltText }}" />
      <!--[if gt IE 8]><!--></noscript><!--[endif]-->
    </div>
  </div>
  {{ end }}
  </div>
{{ else }}
  <h3 class="flush--third--vertical font-size--18 padding-top--0 margin-bottom--1">{{ subscript (superscript .Title) }}</h3>
  {{ if .Subtitle }}
    <h4 class="flush--third--bottom font-size--16 padding-top--0 margin-top--0">{{ subscript (superscript .Subtitle) }}</h4>
  {{ end }}

  <div class="scrollable-container">
    <div id="chart-{{ .Filename }}" data-filename="{{ .Filename }}" data-uri="{{ .URI }}" class="markdown-chart">
      <!--[if gt IE 8]><!--><noscript><!--[endif]-->
      <img src="https://dp.aws.onsdigital.uk/chartimage?uri={{ .URI }}&hideSource=true" />
      <!--[if gt IE 8]><!--></noscript><!--[endif]-->
    </div>
  </div>
{{ end }}

  {{ if .Source }}<h4 class="flush--third--bottom font-size--h6 clear-left">Source: {{ .Source }}</h4>{{ end }}
  <div id="notes-{{ .Filename }}" class="notes-holder-js">
  {{ if .Notes }}
  <h5 class="flush--third--bottom js-notes-title font-size--16 padding-top--0">Notes:</h5>
  {{ markdown .Notes }}
  {{ end }}
  </div>

  <h4 class="print--hide padding-top--0 margin-top--0 font-size--h6 clear-left">
    <span role="text">Download this chart <span class="visuallyhidden">{{ .Title }}</span></span>
  </h4>

  {{ if ne .ChartType "small-multiples" }}
  <a
    class="btn btn--primary print--hide js-chart-image-src"
    data-filename="{{ .Filename }}"
    href="http://dp.aws.onsdigital.uk/chartimage?uri={{ .URI }}"
    download="{{ subscript (superscript .Title) }}"
    data-gtm-title="{{ subscript (superscript .Title) }}"
    data-gtm-type="download-chart-image"
    aria-label="Download {{ .Title }} as an image"
  >
    Image
  </a>
  {{/* TODO: `else if not is_publishing` - IS_PUBLISHING is a Babbage env var that defaults to false */}}
  {{- else -}}
  <a
    class="btn btn--primary print--hide js-chart-image-src"
    id="export-png"
    aria-label="Download {{ .Title }} as an image"
  >
    Image
  </a>
  {{ end }}
  {{- range $format := .DownloadFormats -}}
  <a class="btn btn--primary print--hide" title="Download as {{ $format }}"
    href="http://dp.aws.onsdigital.uk/generator?uri={{ $.URI }}&format={{ $format }}"
    data-gtm-title="{{ subscript (superscript $.Title) }}"
    data-gtm-type="download-chart-{{ $format }}"
    data-gtm-download-file="timeseries-generated-file"
    data-gtm-download-type="{{ $format }}"
    aria-label="Download {{ $.Title }} as {{ $format }}"
  >
    .{{ $format }}
  </a>
  {{ end -}}
</div>
