{{/* Used by dp-renderer/tagresolver */}}
{{/* Not having line breaks before and after the div markups breaks tables displaying on the page */}}
<div class="markdown-table-container print--avoid-break">
  <div class="scrollable-container" tabindex="0">
    <div class="markdown-table-wrap">
      {{ .Content | safeHTML }}
    </div>
  </div>

  <h4 class="print--hide font-size--h6 padding-top--0">
    <span role="text">Download this table <span class="visuallyhidden">{{ .Title }}</span></span>
  </h4>
  <a
    href="http://dp.aws.onsdigital.uk/download/table?format=xlsx&uri={{ .URI }}.json"
    title="Download as xls"
    class="btn btn--primary print--hide"
    data-gtm-title="{{ subscript (superscript .Title) }}"
    data-gtm-type="download-table-xlsx"
    aria-label="Download {{ .Title }} as xls"
  >
    .xls
  </a>
  <a
    href="http://dp.aws.onsdigital.uk/download/table?format=csv&uri={{ .URI }}.json"
    title="Download as csv"
    class="btn btn--primary print--hide"
    data-gtm-title="{{ subscript (superscript .Title) }}"
    data-gtm-type="download-table-csv"
    aria-label="Download {{ .Title }} as csv"
  >
    .csv
  </a>
</div>
