<div class="phase-banner">
  <div class="container">
    <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap u-ml-m u-mr-m">
      <div class="grid__col col-auto u-flex-no-grow u-flex-no-shrink">
        <h3 class="phase-banner__badge u-fw-b">{{ localise "Beta" .Language 1}}</h3>
      </div>
      <div class="grid__col col-auto u-flex-shrink">
        <p class="phase-banner__desc u-fs-s u-mb-no">{{ localise "BetaGeneralFeedback" .Language 1 | safeHTML }}</p>
      </div>
    </div>
  </div>
</div>
