<div class="ons-phase-banner">
  <div class="ons-container">
    <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--no-wrap">
      <div class="ons-grid__col ons-col-auto ons-u-flex-no-grow ons-u-flex-no-shrink">
        <strong class="ons-phase-banner__badge">{{ localise "Beta" .Language 1 }}</strong>
      </div>
      {{ if eq .Type "search" }}
        <div class="ons-col-auto ons-grid--flex ons-grid--no-wrap@l ons-grid--vertical-center">
            <span class="default-line-height ons-u-fs-s ons-u-m-no">{{ localise "BetaSearchFeedback" .Language 1 | safeHTML }}</span>
        </div>
      {{ else }}
        <div class="ons-col-auto ons-grid--flex ons-grid--no-wrap@l ons-grid--vertical-center">
            <span class="ons-u-fs-s ons-u-m-no">{{ localise "BetaGeneralFeedback" .Language 1 | safeHTML }}</span>
        </div>
      {{ end }}
    </div>
  </div>
</div>
