{{ if eq .Type "search" }}
<div class="banner">
    <div class="wrapper banner--half-padding banner--bottom-border">
        <div class="ons-panel ons-panel--bare">
            <span class="ons-panel__icon ons-u-fs-r">
                <span class="banner__icon icon icon-info"></span>
            </span>
            <div class="ons-panel__body padding-left--triple-half">
                {{ .ServiceMessage }}
            </div>
        </div>
    </div>
</div>
{{ else }}
<div class="banner">
    <div class="wrapper banner--half-padding banner--bottom-border">
        <div class="col-wrap">
            <div class="col">
                <span class="banner__icon icon icon-info"></span>
                <div class="banner__body">
                    {{ .ServiceMessage }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

