{{/* See model.Feedback for model binding */}}

{{$feedback := .FuncFeedback}}
{{ template "partials/fields/field-textarea" $feedback.Description }}
<fieldset class="ons-fieldset">
    <legend class="ons-fieldset__legend">
        {{- localise "WantAReply" .Language 1 -}}
    </legend>
    <p>
        {{- localise "WantAReplyBlurb" .Language 1 -}}
    </p>
    {{ template "partials/fields/field-text" $feedback.NameInput }}
    {{ template "partials/fields/field-text" $feedback.EmailInput }}
</fieldset>
<div class="ons-btn-group ons-u-mt-m">
    <button
        type="submit"
        class="ons-btn"
        formnovalidate
    >
        <span class="ons-btn__inner">
            <span class="ons-btn__text">
                {{ localise "SendFeedback" .Language 1 }}
            </span>
        </span>
    </button>
    <button
        type="button"
        class="ons-btn ons-btn--secondary"
        id="btn__cancel"
    >
        <span class="ons-btn__inner">
            <span class="ons-btn__text">
                {{- localise "CancelFeedback" .Language 1 -}}
            </span>
        </span>
    </button>
</div>
