{{/* Use model.RadioFieldset for model binding */}}
{{ if .ValidationErr.HasValidationErr }}
{{ template "fragments/field-error-top" .ValidationErr.ErrorItem }}
{{ end }}
{{ $length := len .Radios }}
<fieldset class="ons-fieldset">
    <legend class="ons-fieldset__legend">
        {{- .Legend.FuncLocalise .Language -}}
    </legend>
    <div class="ons-radios__items">
        {{ range $index, $radio := .Radios }}
            <div class="ons-radios__item{{ if not $.HasBorder }} ons-radios__item--no-border ons-u-fw{{ end }}">
                <div class="ons-radio{{ if not $.HasBorder }} ons-radio--no-border{{ end }}">
                    {{ template "partials/inputs/input-radio" .Input }}
                    {{ if .OtherInput.Name }}
                    <div class="ons-radio__other">
                        {{ template "partials/inputs/input-text" .OtherInput }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ if notLastItem $length $index }}
            <br>
            {{ end }}
        {{ end }}
    </div>
</fieldset>
{{ if .ValidationErr.HasValidationErr }}
{{ template "fragments/field-error-bottom" }}
{{ end }}
