{{/* Use model.DateFieldset for model binding */}}
{{ if .FuncHasDateValidationErr}}
<div
    class="ons-panel ons-panel--error ons-panel--no-title"
    id="{{- .ErrorID -}}"
>
    <span class="ons-panel__assistive-text ons-u-vh">
        {{- localise "Error" .Language 1 -}}:
    </span>
    <div class="ons-panel__body">
        {{ $length := len .ValidationErrDescription }}
        {{ range $i, $d := .ValidationErrDescription }}
        <p class="ons-panel__error{{if notLastItem $length $i}} ons-u-mb-no{{end}}">
            <strong>{{- $d.FuncLocalise $.Language -}}</strong>
        </p>
        {{ end }}
        {{ template "partials/inputs/input-date" .Input }}
    </div>
</div>
{{ else }}
{{ template "partials/inputs/input-date" .Input }}
{{ end }}
