{{/* Use model.TextField for model binding */}}
{{ if .HasValidationErr }}
{{ template "fragments/field-error-top" .ErrorItem }}
{{ end }}
<div class="ons-field">
    {{ template "partials/inputs/input-text" .Input }}
</div>
{{ if .HasValidationErr }}
{{ template "fragments/field-error-bottom" }}
{{ end }}
