<input
  type="checkbox"
  id="{{ .Id }}"
  class="ons-checkbox__input ons-js-checkbox"
  name="{{ .Name }}"
  value="true"
  {{ if .Checked }}
    checked
  {{ end }}
>

  <label
    class="ons-checkbox__label"
    for="{{.Id}}"
    id="{{.Id}}-label"
  >
    {{- localise .LocaleKey .Language 1 -}}
    {{ if .Count }}
      ({{ .Count }})
    {{ end }}
  </label>
