<input
  type="radio"
  id="{{ .Id }}"
  name="{{ .Name }}"
  class="ons-radio__input ons-js-radio"
  value="{{ .Value }}"
  {{ if .Checked }}
    checked
  {{ end }}
>  
{{ if .LocaleKey }}
  <label
    class="ons-radio__label"
    for="{{.Id}}"
    id="{{.Id}}-label"
    >
    {{- localise .LocaleKey .Language 1 -}}
    {{ if .Count }}
      ({{ .Count }})
    {{ end }}
  </label>
{{ end }}
