{{/* Use model.InputDate for model binding */}}
<fieldset
  id="{{ .Id }}"
  class="ons-fieldset"
  {{ if .DataAttributes }}
  {{ range .DataAttributes }}
  data-{{- .Key -}}="{{- .Value.FuncLocalise $.Language -}}"
  {{ end }}
  {{ end }}
>
  <legend class="ons-fieldset__legend ons-fieldset__legend--with-description">
    {{- .Title.FuncLocalise .Language -}}
  </legend>
  <div class="ons-fieldset__description">
    {{- .Description.FuncLocalise .Language -}}
  </div>
  <div class="ons-field-group">
    <div class="ons-field">
      <label
        class="ons-label"
        for="{{ .Id }}-day"
      >
        {{- localise "InputDateDay" .Language 1 -}}
      </label>
      <input
        type="text"
        id="{{ .Id }}-day"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2{{if .HasDayValidationErr}} ons-input--error{{end}}"
        name="{{ .InputNameDay }}"
        min="1"
        max="31"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-day"
        value="{{ .InputValueDay }}"
        {{ if .DayDataAttributes }}
        {{ range .DayDataAttributes }}
        data-{{- .Key -}}="{{- .Value.FuncLocalise $.Language -}}"
        {{ end }}
        {{ end }}
      >
    </div>
    <div class="ons-field">
      <label
        class="ons-label"
        for="{{ .Id }}-month"
      >
        {{- localise "InputDateMonth" .Language 1 -}}
      </label>
      <input
        type="text"
        id="{{ .Id }}-month"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2{{if .HasMonthValidationErr}} ons-input--error{{end}}"
        name="{{ .InputNameMonth }}"
        min="1"
        max="12"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-month"
        value="{{ .InputValueMonth }}"
        {{ if .MonthDataAttributes }}
        {{ range .MonthDataAttributes }}
        data-{{- .Key -}}="{{- .Value.FuncLocalise $.Language -}}"
        {{ end }}
        {{ end }}
      >
    </div>
    <div class="ons-field">
      <label
        class="ons-label"
        for="{{ .Id }}-year"
      >
        {{- localise "InputDateYear" .Language 1 -}}
      </label>
      <input
        type="text"
        id="{{ .Id }}-year"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-4{{if .HasYearValidationErr}} ons-input--error{{end}}"
        name="{{ .InputNameYear }}"
        min="1000"
        max="3000"
        maxlength="4"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-year"
        value="{{ .InputValueYear }}"
        {{ if .YearDataAttributes }}
        {{ range .YearDataAttributes }}
        data-{{- .Key -}}="{{- .Value.FuncLocalise $.Language -}}"
        {{ end }}
        {{ end }}
      >
    </div>
  </div>
</fieldset>
