{{/* Used by dp-renderer/tagresolver */}}
{{/* WARNING: Indenting the top level <div> or <img> will trigger the markdown parser into rendering this as a <code> block */}}
{{ if gt (len .Files) 0 }}
<div class="ons-tag">
  <h4>{{ subscript (superscript .Title) }}</h4>

  {{ if .Subtitle }}
    <h5 class="ons-u-fs-s">{{ subscript (superscript .Subtitle) }}</h5>
  {{ end }}

  {{ range .Files }}
    {{ if eq .Type "uploaded-image" }}
      <img
        src="http://dp.aws.onsdigital.uk/resource?uri={{ $.URI }}.{{ .FileType }}"
        alt="{{ $.AltText }}"
      >
    {{ end }}
  {{ end }}

  {{ if .Source }}
    <h6 class="ons-u-fs-s--b ons-u-mt-s ons-u-mb-xs">Source: {{ .Source }}</h6>
  {{ end }}

  {{ if .Notes }}
    <h6 class="ons-u-fs-s--b ons-u-mt-s ons-u-mb-xs">Notes:</h6>
    <div class="ons-u-fs-s">{{ markdown .Notes }}</div>
  {{ end }}

  <div class="ons-tag__download-media">
    <h6 class="ons-u-fs-s--b ons-u-mt-s ons-u-mb-xs">
      <span role="text">Download this image <span class="ons-u-vh">{{ .Title }}</span></span>
    </h6>
    {{- range .Files -}}
      {{- $ariaLabel := printf "Download %s" $.Title -}}
      {{- if eq .Type "uploaded-image" -}}
        {{- $ariaLabel = printf "%s as %s (%s)" $ariaLabel .FileType .FileSize -}}
      {{- else if eq .Type "uploaded-data" -}}
        {{- $ariaLabel = printf "%s (%s)" $ariaLabel .FileSize -}}
      {{- end -}}
      <a
        class="ons-btn"
        title="Download as {{ .FileType }}"
        data-gtm-title="{{ subscript (superscript $.Title) }}"
        data-gtm-type="download-{{ .FileType }}"
        href="http://dp.aws.onsdigital.uk/file?uri={{ $.URI }}.{{ .FileType }}"
        aria-label="{{ $ariaLabel }}"
      >
        <span class="ons-btn__inner">
          <span class="ons-btn__text">.{{ .FileType }} ({{ .FileSize }})</span>
        </span>
      </a>
    {{- end -}}
  </div>
</div>
{{ else }}
<img src="/resource?uri={{ .Uri }}">
{{ end }}
