{{/* Used by dp-renderer/tagresolver */}}
{{/* Not having line breaks before and after the div markups breaks tables displaying on the page */}}
<div class="ons-tag">
  <div class="ons-table-scrollable">
    <div
      class="ons-table-scrollable__content"
      tabindex="0"
      role="region"
      aria-label="Scrollable table. Some of the table may be off screen. Scroll or drag horizontally to bring into view."
    >
      {{ .Content | safeHTML }}
    </div>
  </div>
  <div class="ons-tag--download-media">
    <h4 class="ons-u-fs-s--b ons-u-mt-s ons-u-mb-xs">
      <span role="text">Download this table <span class="ons-u-vh">{{ .Title }}</span></span>
    </h4>
    {{/* TODO data-gtm-title sub(sup(.Title)) in both anchors */}}
    <a
      href="http://dp.aws.onsdigital.uk/download/table?format=xlsx&uri={{ .URI }}.json"
      title="Download as xls"
      class="ons-btn"
      data-gtm-title="{{ .Title }}"
      data-gtm-type="download-table-xlsx"
      aria-label="Download {{ .Title }} as xls"
    >
      <span class="ons-btn__inner">
        <span class="ons-btn__text">.xls</span>
      </span>
    </a>
    <a
      href="http://dp.aws.onsdigital.uk/download/table?format=csv&uri={{ .URI }}.json"
      title="Download as csv"
      class="ons-btn"
      data-gtm-title="{{ .Title }}"
      data-gtm-type="download-table-csv"
      aria-label="Download {{ .Title }} as csv"
    >
      <span class="ons-btn__inner">
        <span class="ons-btn__text">.csv</span>
      </span>
    </a>
  </div>
</div>
