<div class="markdown-box-container
{{ if eq .Align "left" }}float-left margin-right--1 col--md-12 col--lg-15 {{ end }}
{{ if eq .Align "right" }}float-right margin-left--1 col--md-12 col--lg-15 {{ end }}
">
  {{markdown .Content}}
</div>
