{{/* Used by dp-renderer/tagresolver */}}
<div class="markdown-chart-container panel--bottom-mar print--avoid-break">
    <h4 class="flush--third--vertical">{{.Title}}</h4>
    {{ range .Files }}
    <img src="http://dp.aws.onsdigital.uk/resource?uri={{$.URI}}.{{.FileType}}" alt="{{$.AltText}}">
    <a class="btn btn--primary print--hide" title="Download as {{.FileType}}"
                   data-gtm-title="{{$.Title}}" data-gtm-type="download-{{.FileType}}"
                   href="http://dp.aws.onsdigital.uk/file?uri={{$.URI}}.{{.FileType}}"
                   aria-label="Download {{$.Title}} as {{.FileType}} ({{.FileSize}})">
                   .{{.FileType}} ({{.FileSize}})
    </a>
    {{ end }}
</div>