<figure class="quote">
  <blockquote class="quote--body">
    <p>{{ .Content }}</p>
  </blockquote>
  {{ if .Attribution }}
    <figcaption class="quote--source">{{ .Attribution }}</figcaption>
  {{ end }}
</figure>
