{{/* Used by dp-renderer/tagresolver */}}
<div class="ons-tag">
  <h3 class="ons-u-fs-r--b ons-u-pt-m">{{ .Title }}</h3>
  <div class="ons-tag__scrollable-table">
    <div
      class="ons-tag__scrollable-table-content"
      tabindex="0"
      role="region"
      aria-label="{{ localise "OnsTagScrollableTableAriaLabel" .Language 1 | safeHTML }}"
    >
      {{ range $file := .Files }}
        {{ if eq $file.Type "html" }}
          {{ $file.Content | safeHTML }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="ons-tag__download-media">
    <h4 class="ons-u-fs-s--b ons-u-mt-s ons-u-mb-xs">
      <span role="text">{{ localise "OnsTagDownloadThisTable" .Language 1 | safeHTML }} <span class="ons-u-vh">{{ .Title }}</span></span>
    </h4>
    {{ range $file := .Files }}
      {{ if eq $file.Type "download-xls" }}
        <a
          href="http://dp.aws.onsdigital.uk/file?uri={{ $.URI }}.xls"
          title="{{ localise "OnsTagDownload" $.Language 1 }} {{ localise "OnsTagMidsentenceAs" $.Language 1 }} xls"
          class="ons-btn"
          data-gtm-title="{{ subscript (superscript $.Title) }}"
          data-gtm-type="download-table-xls"
          aria-label="{{ localise "OnsTagDownloadTable" $.Language 1 }} {{ $.Title }} {{ localise "OnsTagMidsentenceAs" $.Language 1 }} xls ({{ $file.FileSize }})"
        >
          <span class="ons-btn__inner">
            <span class="ons-btn__text">.xls ({{ $file.FileSize }})</span>
          </span>
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
