{{/* Not having line breaks before and after the div markups breaks tables displaying on the page */}}
<div class="markdown-table-container print--avoid-break">
  <h3 class="font-size--18 margin-top--1">{{.Title}}</h3>
  <div class="scrollable-container">
    <div class="markdown-table-wrap">
      {{ (index .Files 1).Content | safeHTML }}
    </div>
  </div>
  <h4 class="print--hide font-size--h6 margin-top--1 padding-top--0"><span role="text">Download this table <span class="visuallyhidden">{{.Title}}</span></span></h4>
  {{/* data-gtm-title needs sub(sup()) */}}
  {{/* aria label and anchor text needs file size */}}
  <a href="http://dp.aws.onsdigital.uk/file?uri={{.URI}}.xls" title="Download as xls" class="btn btn--primary print--hide" data-gtm-title="{{.Title}}" data-gtm-type="download-table-xls" aria-label="Download table {{.Title}} as xls ({{.URI}}.xls)">.xls ({{.URI}}.xls)"</a>
</div>