<!DOCTYPE html>
<html lang="{{ if .Language }}{{ .Language }}{{ else }}en{{ end }}" xml:lang="{{ if .Language }}{{ .Language }}{{ else }}en{{ end }}">
  <head>
    <title>
      {{ if .Error.Title }}
        {{ if and (ne .Error.ErrorCode 401) (ne .Error.ErrorCode 404) (ne .Error.ErrorCode 500)}}
        {{ localise "Error" .Language 1 }}:
        {{ end }}
        {{ .Error.Title }}
      {{ else if .Metadata.Title }}
        {{ .Metadata.Title }}
      {{- end }}
      - {{ localise "OfficeForNationalStatistics" .Language 1 }}
    </title>

    {{ if eq .Metadata.Title "Home" }}
      <meta name="description" content="{{ localise "HomepageDescription" .Language 1 }}">
    {{ else }}
      <meta name="description" content="{{ .Metadata.Description }}">
    {{ end }}

    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=1" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#58595B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#58595B">
    {{ if .SearchNoIndexEnabled }}
      <meta name="robots" content="noindex">
    {{ end }}
    {{ if .Metadata.ServiceName }}
      <meta name="ons:service" content="{{ .Metadata.ServiceName }}">
    {{ end }}

    {{ if .FeatureFlags.SixteensVersion }}
      {{ if eq .SiteDomain "localhost" }}
        <link rel="stylesheet" href="http://localhost:9000/dist/css/main.css">
      {{ else }}
        <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/{{ .FeatureFlags.SixteensVersion }}/css/main.css">
      {{ end }}
    {{ else }}
      <link rel="stylesheet" href="{{ .PatternLibraryAssetsPath }}/css/main.css">
    {{ end }}

    {{ if .HasJSONLD -}}
      {{ template "partials/json-ld/base" . }}
    {{- end }}

    {{ if eq .Metadata.Title "Feedback" }}
      <link rel="canonical" href={{ concatenateStrings "https://www." .SiteDomain "/feedback" }}>
    {{ end }}

    {{ template "partials/gtm-data-layer" . }}
    {{/*
      PreGTMJavaScript is intended to make additional data available to GTM
      `Container Loaded` events by adding data to the `dataLayer` before
      GTM runs and loads containers a.k.a. tags.
    */}}
    {{ template "partials/pre-gtm-javascript" . }}
    {{ partial "styles" }}
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MBCBVQS');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="page-type--{{ .Type }}">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js js-enabled'
        : 'js js-enabled');
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MBCBVQS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ if .FeatureFlags.IsPublishing }}
      {{ template "partials/publishing-preview" . }}
    {{ end }}

    {{ if not .FeatureFlags.SixteensVersion }}
      <div class="ons-page">
        <div class="ons-page__content">
        {{ end }}
        {{ if (ne .FeatureFlags.HideCookieBanner true) }}
          {{ template "partials/banners/cookies" . }}
        {{ end }}
        {{ if not .Enable500ErrorPageStyling }}
          {{ template "partials/header/header" . }}
          {{ template "partials/breadcrumb" . }}
        {{ else }}
          {{ template "partials/header/header-basic" . }}
        {{ end }}
        <main id="main" role="main" tabindex="-1">
          {{ yield }}
        </main>
        {{ if not .FeatureFlags.SixteensVersion }}
        </div>
        {{ end }}
        {{ if not .Enable500ErrorPageStyling }}
          {{ template "partials/footer/footer" . }}
        {{ else }}
          {{ template "partials/footer/footer-basic" . }}
        {{ end }}
        {{ if not .FeatureFlags.SixteensVersion }}
      </div>
      <script type="module" src="{{ .PatternLibraryAssetsPath }}/js/main.js"></script>
      <script nomodule src="{{ .PatternLibraryAssetsPath }}/js/main.es5.js"></script>
    {{ else }}
      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      {{ if eq .SiteDomain "localhost" }}
        <script defer src="http://localhost:9000/dist/js/main.js"></script>
      {{ else }}
        <script defer src="https://cdn.ons.gov.uk/sixteens/{{ .FeatureFlags.SixteensVersion }}/js/main.js"></script>
      {{ end }}
      <script defer src="/js/app.js"></script>
    {{ end }}

    {{ partial "scripts" }}
  </body>
</html>
