<div class="ons-page__container ons-container">
    <div class="ons-grid ons-u-ml-no">
        <div class="ons-grid__col ons-u-pl-no">
            <h1 class="ons-u-mt-xl ons-u-fw-b">{{ localise "500Title" .Language 1 }}</h1>
            <div class="ons-page__main ons-u-mt-s">
                <p>{{ localise "500Description1" .Language 1 }}</p>
                <p>{{ localise "500Description2" .Language 1 | safeHTML }}</p>
                <p>{{ localise "500Description3" .Language 1 | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>
